<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/PSecurity/assets/css/style.css">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<header class="header">
  <h1>👾 PeekSecurity</h1>
  <p>Termux • Kali • Scripts • Segurança</p>
</header>

<main class="container">
  {{ content }}
</main>

</body>
</html>
